.container-form {
    padding: 2rem;
    
}

.footer {
    display: flex;
}



.send {
    background-color: var(--primary-moderate--blue);
    text-transform: uppercase;
    cursor: pointer;
    color : var(--neutral--white);
    font-weight: 700;
    padding: 1.5rem 3rem;
    border-radius: .5rem;
}

.textarea {
    border: .1rem solid var(--neutral-light--gray);
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color : var(--neutral-dark--blue);
    border-radius: .5rem;
}



@media screen and (max-width: 39.99em) {

    .footer {
 
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem  ;
    }

    .footer > textarea {
        display: none;
    }
}


@media screen and (min-width: 40em) {
    .form > textarea {
        display: none;
    }

    .footer {
        align-items: flex-start;
        column-gap: 2rem;
    }

    .textarea {
        padding: 1rem 2rem;
    }


    .avatar-form {
        width: 6rem;
        height: 6rem;
    }
}