.container-form {
    padding: 2rem;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem  ;
}

.send {
    background-color: var(--primary-moderate--blue);
    text-transform: uppercase;
    cursor: pointer;
    color : var(--neutral--white);
    font-weight: 700;
    padding: 1.5rem 3rem;
    border-radius: .5rem;
}

.textarea {
    border: .1rem solid var(--neutral-light--gray);
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color : var(--neutral-dark--blue);
    border-radius: .5rem;
}